@model IEnumerable<Beerino.MVC.ViewModel.BeerViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Adicionar Cerveja", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Public)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Public)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Name)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.BeerID }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.BeerID }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.BeerID }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Processos", "Index", "TaskBeer", new { id = item.BeerID }, new { @class = "btn btn-success" })
        </td>
    </tr>
}

</table>
